@use '_variables.scss' as variables;

body {
  margin: 0;
  font-family: $font-family;
  text-align: center;
  background-color: $color-dark-background;
  color: $color-light-text;
  background-image: url($background-image-url);
  background-repeat: repeat;
  animation: fadeIn $fade-in-duration ease-out;
}

body h1 {
  font-size: $font-size-title;
}

header {
  font-size: $font-size-header;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $padding-header;
  background-color: $color-header-background;
  box-shadow: $shadow-dark;
  background-image: variables.url($kingkong-gif-url); /* Optional gif background */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

header nav {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 1rem;
}

header a {
  color: $color-light-text;
  text-decoration: none;
  font-size: $font-size-main;
  transition: color 0.3s ease;
}

.nav-icons {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-left: 1rem;
}

.nav-icons .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: $nav-icon-size;
  height: $nav-icon-size;
  background-color: #6272a4;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

main {
  padding: $padding-main;
  text-align: left;
  max-width: 800px;
  margin: 2rem auto;
  background-color: $color-header-background;
  color: $color-light-text;
  border-radius: $border-radius;
  box-shadow: $shadow-dark;
  opacity: 0;
  animation: fadeIn 2s ease-out forwards;
  background-image: url($tetris-gif-url);
  background-size: contain;
}

footer {
  font-size: $font-size-footer;
  padding: $padding-footer;
  margin-top: 2rem;
  background-color: $color-footer-background;
  text-align: center;
  border-top: 4px solid $color-accent;
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.3);
}

footer a {
  color: $color-accent;
  text-decoration: none;
  transition: color 0.3s ease;
}

footer a:hover {
  color: $color-accent-hover;
}
