@import url('https://fonts.cdnfonts.com/css/press-start');

body {
    margin: 0;
    font-family: 'Press Start', sans-serif; 
    text-align: center;
    background-color: #2b2b2b;
    color: #f8f8f2; 
    line-height: 1.6;
    background-image: url('https://www.transparenttextures.com/patterns/old-map.png'); /* Fondo texturizado retro */
    background-repeat: repeat;
    animation: fadeIn 2s ease-out; 
}

body.light-mode {
    background-color: #ffffff;
    color: #000000;
    background-image: none; 
}

header {
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #44475a; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    background-image: url('../img/kingkong.gif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

  
body.light-mode header {
    background-color: #f8f8f8;
    border-bottom-color: #d6d6d6;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color:white;
}

.nav-icons {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.nav-icons .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #ac1c8d;
    border-radius: 50%;
    transition: background-color 0.3s ease;
}

.nav-icons .icon svg {
    fill: #f8f8f2;
    width: 24px;
    height: 24px;
}

body.light-mode .nav-icons .icon {
    background-color: #cccccc;
}

body.light-mode .nav-icons .icon svg {
    fill: #000000;
}

main {
    padding: 2rem;
    text-align: left;
    max-width: 800px;
    margin: 2rem auto;
    background-color: #44475a; 
    color: #f8f8f2;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    background-image: url('../img/books.avif'); 
    background-position: center;
    background-size: contain;
    animation: fadeIn 2s ease-out forwards; 
}

body.light-mode main {
    background-color: #ffffff;
    color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    color: #ff79c6;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5), 0 0 25px #ff79c6, 0 0 5px #ff79c6;
    animation: pulseTitle 2s infinite alternate;
  }

main p {
    font-size: 1rem;
    margin-bottom: 1.5rem;
}

.content-section ul {
    list-style: none;
    padding: 0;
}

.content-section li {
    font-size: 14px;
    margin: 0.5rem 0;
    padding: 0.5rem;
    background-color: #e069b871;
    color: #f8f8f2;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease, background-color 0.3s ease;
    position: relative;
}

body.light-mode .content-section li {
    background-color: #f6c1fcd0;
    color: #000000;
}

.content-section li:hover {
    transform: scale(1.05);
    background-color: #ff79c6;
    color: #2b2b2b;
}

.content-section li:before {
    content: url('https://img.icons8.com/ios/50/000000/book.png');
    position: absolute;
    left: -30px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
}

body.light-mode footer {
    background-color: #f8f8f8;
    color: #000000;
    border-top-color: #d6d6d6;
}

/* Animación para aparición de elementos */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes pulseTitle {
    0% {
        transform: scale(1);
        color: #ff79c6;
    }
    100% {
        transform: scale(1.1);
        color: #ff9ee0;
    }
  }
footer {
    position:absolute;
    bottom:0;
    width: 100%;
    font-size: 10px;
    padding: 1rem; 
    margin-top:2rem;
    background-color: #333;
    text-align: center;
    border-top: 4px solid #ac1c8d;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.3);
}
  body.light-mode footer {
    background-color: #f8f8f8;
    color: #000000;
    border-top-color: #d6d6d6;
  }
  

footer a {
    color: #ff79c6;
    text-decoration: none;
    transition: color 0.3s ease;
}

footer a:hover {
    color: #903749;
    text-decoration: underline;
}