

@import url('https://fonts.cdnfonts.com/css/press-start');

body {
  margin: 0;
  font-family: 'Press Start', sans-serif; /* Retro font */
  text-align: center;
  background-color: #2b2b2b;
  color: #f8f8f2;
  background-image: url('https://www.transparenttextures.com/patterns/old-map.png');
  background-repeat: repeat;
  animation: fadeIn 1s ease-out;
}

body.light-mode {
  background-color: #ffffff;
  color: #ffffff;
  background-image: none;
}

header {
  font-size:15px; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #44475a;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  background-image: url('../img/kingkong.gif'); /* Optional gif background */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

body.light-mode header {
  background-color: #f8f8f8;
  border-bottom-color: #d6d6d6;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header nav {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 1rem;
}


body.light-mode header a {
  color: #000000;
}

.nav-icons {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-left: 1rem;
}

.nav-icons .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #ac1c8d; /* Retro purple */
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

body.light-mode .nav-icons .icon {
  background-color: #cccccc;
}

main {
  background-image: url('../img/robot.gif');
  padding: 2rem;
  text-align: left;
  max-width: 800px;
  margin: 2rem auto;
  background-color: #44475a;
  color: #f8f8f2;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  opacity: 0;
  animation: fadeIn 2s ease-out forwards;
}

main p{
  display:inline-block;
  overflow:hidden;
  animation: typing 2.5s steps(30, end), blink-caret 0.1s step-end infinite;
  width:100%;
  color: #ffffff;
  background-color: #a3437c82;
}

body.light-mode main {
  background-color: #ffffff;
  color:  #e279ee;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size:40px;
  text-align:center;
  font-weight: bold;
  text-transform: uppercase;
  color: #ff79c6;
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.897), 0 0 25px #ff79c6, 0 0 5px #ff79c6;
  animation: pulseTitle 2s infinite alternate;
}

@keyframes pulseTitle {
  0% {
      transform: scale(1);
      color: #ff79c6;
  }
  100% {
      transform: scale(1.1);
      color: #ff9ee0;
  }
}


@keyframes typing {
  from { width: 0}
  to { width: 100% }
}

@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: #ff79c6;
  }
}
.content-section {
  margin-top: 2rem;
}

.content-section ul {
  list-style-type: none;
  padding: 0;
}

.content-section li {
  font-size: 1.2rem;
  color: #f8f8f2;
  margin-bottom: 1rem;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
  transition: background-color 0.3s ease, transform 0.2s ease;
}

body.light-mode .content-section li {
  color: #f8a9ff;
}

.content-section li:hover {
  transform: scale(1.05);
  background-color: #e4c8d89f;
  color: #ff79c6;
}

body.light-mode footer {
  background-color: #f8f8f8;
  color: #000000;
  border-top-color: #d6d6d6;
}


footer {
  font-size: 10px;
  padding: 1rem;
  margin-top:2rem;
  background-color: #333;
  text-align: center;
  border-top: 4px solid #ac1c8d;
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.3);
}

footer a {
  color: #ff79c6;
  text-decoration: none;
  transition: color 0.3s ease;
}

footer a:hover {
  text-decoration: underline;
  color: #903749;
}


/* Animación para los enlaces */
@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

/* Animación para los elementos de lista */
@keyframes fadeInList {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

.content-section li {
  opacity: 0;
  animation: fadeInList 1s ease-out forwards;
}

.content-section li:nth-child(1) {
  animation-delay: 0.5s;
}

.content-section li:nth-child(2) {
  animation-delay: 1s;
}

.content-section li:nth-child(3) {
  animation-delay: 1.5s;
}

.content-section li:nth-child(4) {
  animation-delay: 2s;
}
