@import url('https://fonts.cdnfonts.com/css/press-start');

h1{
    font-family: 'Press Start', sans-serif;
    margin:0;
    padding:0;
    color:white;
}

h2{
    font-family: 'Press Start', sans-serif;
}

.header{
    height:140px;
    background-image: url('../images/kingkong.webp');
    background-size:cover;
    background-position:center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-container{
    display:flex;
    flex-direction: row;
    justify-content:flex-end;
    margin-top:10px;
}


body{
    display:flex;
    flex-direction:column;
}

.main-container{
    display:grid;
    grid-template-columns: repeat (3,1fr); /*3 columnas*/
    grid-template-rows: repeat (3,3fr);
    grid-gap: 10px;
    box-sizing: border-box; /*responsive*/
    justify-items: center;
    align-items: center;
}

footer{
    height:70px;
    background-image: url('../images/kingkong.webp'); /*temporal */
    background-size:cover;
    background-position:center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom:auto;
}

.dark-mode{
    width:80px;
    display:grid;

}

.dark-mode:hover{
    background-color: black;
    color:white;
}

.top-container{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.sidebar-index{
    display:none; /*ocultar sidebar por defecto*/
    width:100px;
    height:500px;
    background-color: red;
    position:fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    transition: all 0.3s ease;
}

.sidebar-index:hover{
    display:block;
}