<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.cdnfonts.com/css/narrowpix" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/index.css">
    <title>8 bits life</title>
</head>
<body>
    <!-- Header -->
    <header class="header">
        <h1>8 BITS LIFE</h1>
    </header>
    
    <div class="top-container">
        <div class="search-container">
            <form action="#" method="get" class="search-form">
                <input type="text" placeholder="search something" name="search" id="search">
                <button type="submit" class="search-btn"><i class="search-bar"></i></button>
            </form>
        </div>
    </div>

    <button class="dark-mode">button</button>
   
    <div class="sidebar-container">
        <button class="open-btn">button</button>

        <div class="sidebar-index" id="indexSidebar">
            <ul>
                <li><a href="about.html">About</a></li>
                <li><a href="#shop">Shop</a></li>
                <li><a href="#trending">Trending now</a></li>
            </ul>
        </div>
</div>

 
    <!-- Main Section -->
    <main class="main-container">
        <section id="home">
            <h2>no game, no life</h2>
            <p>Introductory content of the page.</p>
            <button>button</button>
        </section>

        <section id="products">
            <h2>products</h2>
            <ul class="products-container">
                <li><a href>product 1</a></li>
                <li><a href>product 2</a></li>
                <li><a href>product 3</a></li>
            </ul>
        </section>

        <section id="services">
            <h2>services</h2>
            <ul class="services-container">
                <li><a href>service 1</a></li>
                <li><a href>servoce 2</a></li>
                <li><a href>servoce 3</a></li>
            </ul>
        </section>

        <section id="contact">
            <h2>contact</h2>
            <form action="#" method="post" class="form">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" required>

                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>

                <label for="message">Message:</label>
                <textarea id="message" name="message" rows="5" required></textarea>

                <button type="submit">Send</button>
            </form>
        </section>
    </main>

    <!-- Footer -->
    <footer class="footer">
        <p>&copy; 2024 8 retro life. All rights reserved.</p>
    </footer>

    <!-- Scripts -->
    <script src="../static/script.js"></script> <!-- External JavaScript file -->
</body>
</html>
