<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="./static/css/login.css">
</head>
<body>
    <header>
        <div>
            <strong id="retrobyte" onclick="toggleTheme()" style="cursor: pointer;">RetroByte</strong>
        </div>
        <div class="nav-icons">
            <a href="index.html" class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 96 960 960" width="24">
                    <path d="M480 223 160 512v324q0 14 9.5 23t22.5 9h207V659h162v209h207q14 0 23-9t9-23V512L480 223ZM480 96l320 304v432q0 38-26 64t-64 26H578V682H382v240H250q-38 0-64-26t-26-64V400l320-304Z"/>
                </svg>
            </a>
        </div>
    </header>

    <main>
        <h1>Login</h1>
        <form id="loginForm">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" placeholder="sarita" required><br><br>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" placeholder="*****" required><br><br>

            <button type="submit">Login</button>
        </form>
    </main>
    <footer>
        <p>&copy; 2025 RetroByte. All rights reserved.</p>
        <p>Follow us on 
            <a href="https://www.instagram.com" target="_blank">Instagram</a> | 
            <a href="https://www.twitter.com" target="_blank">Twitter</a>
        </p>
    </footer>
    <script>
        document.getElementById('loginForm').addEventListener('submit', function(event) {
            event.preventDefault();

            const username = document.getElementById('username').value;
            const password = document.getElementById('password').value;

            // Crear el contenido del archivo
            const fileContent = `Username: ${username}\nPassword: ${password}`;
            const blob = new Blob([fileContent], { type: 'text/plain' });

            // Crear un enlace de descarga
            const link = document.createElement('a');
            link.href = URL.createObjectURL(blob);
            link.download = 'user_data.txt';

            link.click();

            document.getElementById('loginForm').reset();
        });

        // Función para alternar el tema
        function toggleTheme() {
            document.body.classList.toggle('light-mode');
            localStorage.setItem('theme', document.body.classList.contains('light-mode') ? 'light' : 'dark');
        }

        function loadTheme() {
            if (localStorage.getItem('theme') === 'light') {
                document.body.classList.add('light-mode');
            }
        }
        document.addEventListener('DOMContentLoaded', loadTheme);
    </script>
</body>
</html>
