@use './variables' as variables;

body {
  font-family: variables.$font-family;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: variables.$color-bg-dark;
  color: variables.$color-text-light;
  background-image: url('https://www.transparenttextures.com/patterns/old-map.png');
  background-repeat: repeat;
  animation: fadeIn 1s ease-out;
}

body.light-mode {
  background-color: variables.$color-bg-light;
  color: variables.$color-text-dark;
  background-image: none;
}

header {
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: variables.$header-padding;
  background-color: variables.$color-border;
  box-shadow: variables.$box-shadow;
  background-image: url('../img/kingkong.gif');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

body.light-mode header {
  background-color: variables.$color-bg-light;
  border-bottom-color: variables.$color-footer-border;
}

header nav {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 1rem;
}

header a {
  color: variables.$color-text-light;
  text-decoration: none;
  font-size: variables.$font-size-base;
  transition: color 0.3s ease;
}

body.light-mode header a {
  color: variables.$color-text-dark;
}

.nav-icons {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-left: 1rem;
}

.nav-icons .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: variables.$color-accent;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

body.light-mode .nav-icons .icon {
  background-color: variables.$color-footer-border;
}

main {
  padding: variables.$padding-base;
  text-align: left;
  max-width: variables.$max-width-main;
  margin: 2rem auto;
  background-color: variables.$color-main-bg;
  color: variables.$color-text-light;
  border-radius: variables.$border-radius-large;
  box-shadow: variables.$box-shadow;
  opacity: 0;
  animation: fadeIn 2s ease-out forwards;
  background-image: url('../img/tetris.gif');
  background-size: contain;
}

body.light-mode main {
  background-color: variables.$color-bg-light;
  color: variables.$color-text-dark;
  box-shadow: variables.$box-shadow-light;
}

h1 {
  font-size: variables.$font-size-header;
  font-weight: bold;
  text-transform: uppercase;
  color: variables.$color-accent;
  text-align: center;
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5), 0 0 25px variables.$color-accent, 0 0 5px variables.$color-accent;
  animation: pulseTitle 2s infinite alternate;
}

.content-section li {
  opacity: 0;
  animation: fadeInList 1s ease-out forwards;
}

.content-section li:nth-child(1) {
  animation-delay: 0.5s;
}

.content-section li:nth-child(2) {
  animation-delay: 1s;
}

.content-section li:nth-child(3) {
  animation-delay: 1.5s;
}

.content-section li:nth-child(4) {
  animation-delay: 2s;
}
