// variables.scss

// Colores
$color-dark-background: #2b2b2b;
$color-light-background: #ffffff;
$color-dark-text: #333333;
$color-light-text: #f8f8f2;
$color-accent: #ff79c6;
$color-accent-light: #ff9ee0;
$color-accent-hover: #903749;
$color-header-background: #44475a;
$color-footer-background: #333;
$color-input-background: #2b2b2b;
$color-input-focus-border: #ff79c6;
$color-button-background: #ff79c6;
$color-button-hover-background: #ff9ee0;
$color-link-hover: #ff79c5a0;
$color-light-mode-background: #e0e0e0;
$color-light-mode-text: #333333;
$color-light-mode-input-background: #f5f5f5;
$color-light-mode-input-border: #b3b3b3;
$color-light-mode-input-text: #555;
$color-light-mode-label: #ac3c7d;
$color-light-mode-button-background: #c663ab;

// Sombras
$shadow-dark: 0 4px 8px rgba(0, 0, 0, 0.3);
$shadow-light: 0 4px 8px rgba(0, 0, 0, 0.1);
$shadow-text: 1px 1px 3px rgba(0, 0, 0, 0.4);
$shadow-button-hover: 0 4px 8px rgba(0, 0, 0, 0.2);

// Fuentes y tamaños
$font-family: 'Press Start', sans-serif;
$font-size-title: 3rem;
$font-size-header: 1rem;
$font-size-main: 1.2rem;
$font-size-label: 1.2rem;
$font-size-input: 1rem;
$font-size-button: 1.2rem;
$font-size-footer: 10px;

// Tamaños
$border-radius: 10px;
$button-radius: 5px;
$input-radius: 5px;
$icon-size: 40px;
$nav-icon-size: 40px;
$padding-main: 2rem;
$padding-header: 1rem 2rem;
$padding-footer: 1rem;

// Animaciones
$fade-in-duration: 1s;
$pulse-title-duration: 2s;
$fade-in-list-duration: 1s;
$fade-in-list-delay-step: 0.5s;

// Otros
$background-image-url: 'https://www.transparenttextures.com/patterns/old-map.png';
$kingkong-gif-url: './img/kingkong.gif';
$tetris-gif-url: './img/tetris.gif';
